html{
	height: 100%;
}

body{
	height: 100%;
	padding-top: 50px;
	/*background: url("../icons/background/bg02.png");*/
}

/*
	Header development part
*/



#navheader #profilemgr{
	padding: 0;
	margin: 5px;
}

#navheader #profileimg{
	width: 40px;
	height: 40px;
}

#example-navbar-collapse .nav li{
	margin-right: 10px;
}

/*--------------------------------------------------------------------------------------*/
/*This section for header welcome page segments*/

section {
	padding-top:70px;  
    padding-bottom:50px; 
    min-height:calc(100% - 1px);
}

#section1 {
	background-color: #dc4640;
    color:#dedeff;
}

#section2 {
	background-color: #e5e5ef;
    color:#686868;
}

#section3 {
	background-color: #168ccc;
    color:#ddd;
}

#section4 {
	background-color: #fff;
    color:#444;
}

#section5,#section7 {
    color:#f5f5f5;
}
/*------------------------------------------------------------------------------------------------------*/
/**This is welcome page footer*/
footer {
	background-color:#494949;
    color:#ddd;
    min-height:20px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding:3px;
    color:#ccc;
}

footer .nav>li>a:hover {
  background-color:transparent;
	color:#fff;
}
/*--------------------------------------------------------------------------------------*/
/*Left nav of dash board*/
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/*------------------Edit main Wrapper----------------------------------------------*/

#wrapper{
  min-height: calc(100% - 60px);
  background-color: red;
}

#left_menu{
  height: 100%;
  background-color: green;
}
#cont{
  height: 100%;
  background-color: blue;
}
#right_menu{
  height: 100%;
  background-color: yellow;
}

/*--------------------------Navigation of the system------------------------------*/
/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
    #searchHead{
      margin-left: 60px;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/*------------------ my nav configurations-----------------------------------------*/
#searchHead #searchbutton{
  margin-top: -2px;
}

/*---------------------------------------------------------------------------------*/



